// header
.ndivcloswe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .close{
    width: 18px;
    position: relative;
    right: -6px;
  }

  .close-copym {
    position: static;
    left: auto;
    top: -30px;
    right: -30px;
    bottom: auto;
    z-index: 999999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(80, 105, 250, 0.64);
    opacity: 1;
    -webkit-transform: show;
    -ms-transform: show;
    transform: show;
    font-family: 'Fa solid 900', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    cursor: pointer;
}
 
#backimg{
    background-image: url("../../assets/reservation-card-table_202273-7.jpg");
    align-items: center;
    background-size: cover;
    
  }
  
  .close-copym {
    position: static;
    left: auto;
    top: -30px;
    right: -30px;
    bottom: auto;
    z-index: 999999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(80, 105, 250, 0.64);
    opacity: 1;
    -webkit-transform: show;
    -ms-transform: show;
    transform: show;
    font-family: 'Fa solid 900', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .head-sectionmnu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    margin-bottom: auto;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
  }
  
  .single-food-name {
    width: auto;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .new-menu-button-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  
  .single-food-name {
    width: auto;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .heading {
    font-size: 45px;
  }
  
  .new-menu-button-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .new-menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 210px;
    min-height: 45px;
    min-width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #60b246;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    text-decoration: show;
    cursor: pointer;
  }
  
  .div-block-49 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 100%;
    min-height: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
    box-shadow: 1px 0 7px -3px #000;
  }
  
  .text-block-39 {
    width: auto;
    height: auto;
    font-family: 'Fa solid 900', sans-serif;
    color: #60b246;
    font-size: 20px;
    line-height: 20px;
  }
  .text-block-37 {
    margin: 5px 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
  
  .new-menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 210px;
    min-height: 45px;
    min-width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #60b246;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    text-decoration: show;
    cursor: pointer;
  }


  // content

  .setab {
   align-items: center;
    background-color: #b9b9b9;
}

.badge{
  background-color: #ffc107!important;
  width: 195px;
  height: 31px;
  font-size: 16px;
  margin-left: 42%;
  cursor: pointer;
}



.main-content.cart-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.main-content {
  position: static;
  height: auto;
}


.cart-left {
  overflow: auto;
  width: 60%;
  height: 73vh;
  max-width: 1200px;
  margin-right: 10px;
  padding-top: 10px;
  background-color: #f6f7f9;
}


.account-div-v2 {
  min-height: 80px;
  margin-bottom: 20px;
  padding: 1.2rem 2.4rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0rem;
  background-color: #fff;
  box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.18);
  text-align: left;
}


.card-booking-details {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 120px;
  min-width: auto;
  margin: 10px 5px;
  padding: 10px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 0.25px;
  border-color: rgba(204, 201, 201, 0.3);
  box-shadow: 1px 0 5px 0 #ebedf0;
}

.address-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.pay.vert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.container.pay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}


.text-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-size: 16px;
  font-weight: 500;
}


.pin-2 {
  margin-right: 10px;
  font-family: 'Fa solid 900', sans-serif;
  color: #ffa332;
  font-size: 20px;
}



.text-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-size: 16px;
  font-weight: 500;
}


.text-block-29.no-down-margin {
  padding-bottom: 0px;
}

.heading-4.delivery {
  margin-bottom: 0px;
  font-size: 22px;
}


.heading-4 {
  margin-top: 0px;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}


.container.pay.vert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.container.pay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.card.paycard.card2.nm {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}


.card.paycard.card2 {
  min-height: auto;
  padding-bottom: 10px;
}

.card.paycard {
  width: 49%;
}


.heading-5 {
  font-size: 13px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}


.current-method-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.25px;
  border-color: #c2c1c1;
  border-radius: 3px;
}

.warning-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: none;
  width: 100%;
  max-height: 100vh;
  min-height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.mask-modal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  font-family: Inconsolata, monospace;
}

.warmodal-container {
  position: relative;
  z-index: 10000;
  width: 100%;
  max-width: 420px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  color: #808292;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.warning-msg-button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button2.remove.cntrr {
  text-align: center;
}
.button2.remove {
  width: 50%;
  margin-bottom: 10px;
}

.button2 {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  border-style: solid;
  border-width: 0.25px;
  border-color: #ffa332;
  background-color: #ffa332;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.button2.remove.btn2 {
  background-color: transparent;
  color: #ffa332;
}

.button2.remove {
  width: 50%;
  margin-bottom: 10px;
}


.warning-modal-close {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dedede;
  background-image: url("../../assets/close-icon_1close\ icon.png");
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}


.w-inline-block {
  max-width: 100%;
}

.button2.payit {
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  background-color: #60b246;
  line-height: 20px;
}

.war {
  margin-top: 10px;
}

.coupon-statsu-message.invalid {
  display: none;
  color: #fc2909;
}

.coupon-statsu-message {
  color: #1bba73;
  font-weight: 500;
  text-align: left;
}

.main-cart-btn {
  position: absolute;
  left: auto;
  top: auto;
  right: 1%;
  bottom: 0%;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.45);
}

.cart-right.hide {
  height: 70vh;
}


.cart-right {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 73vh;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f6f7f9;
}


.cart-food-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.food-listt {
  width: 100%;
}

.single-food-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none none solid;
  border-width: 0.25px;
  border-color: #9e9d9d #9e9d9d rgba(158, 157, 157, 0.39);
}

.food-name-div {
  text-align: left;
}

.cart-single-food-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: 600;
}

.cart-food-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.customize-link {
  color: #040a76;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.cart-food-name-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: red;
  font-weight: 500;
  text-align: left;
}
.link-5 {
  margin-right: 6px;
  text-decoration: none;
}

.food-name-ordered-number {
  margin-right: 5px;
  font-family: 'Fa solid 900', sans-serif;
  color: red;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

a {
  background-color: transparent;
}



.single-food-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none none solid;
  border-width: 0.25px;
  border-color: #9e9d9d #9e9d9d rgba(158, 157, 157, 0.39);
}

.food-name-div {
  text-align: left;
}

.cart-food-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}


.customize-link {
  color: #040a76;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}


a {
  background-color: transparent;
}


.customize-icon {
  font-family: 'Fa solid 900', sans-serif;
  color: #eb8e1c;
}


.cart-single-food-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: 600;
}

.cart-food-name-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: red;
  font-weight: 500;
  text-align: left;
}

.link-5 {
  margin-right: 6px;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.food-name-ordered-number {
  margin-right: 5px;
  font-family: 'Fa solid 900', sans-serif;
  color: red;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}


.food-name-div {
  text-align: left;
}

.cooking-instruction-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 25px;
  margin-top: 8px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}


.link-7 {
  padding-bottom: 3px;
  border-bottom: 1px dashed #535353;
  color: #189b4f;
  font-weight: 500;
  text-decoration: none;
}


.cooking-instruction-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 25px;
  margin-top: 8px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.form-block-2.no-margin {
  margin-bottom: 0px;
}

.form-block-2 {
  width: 100%;
}

.w-form {
  margin: 0 0 15px;
}

form {
  display: block;
  margin-top: 0em;
}

.text-field-2.dark {
  border-color: #646161;
}

.text-field-2 {
  border: 0.25px dashed #c2c1c1;
  border-radius: 3px;
}

.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

input {
  line-height: normal;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.coupon-statsu-message.success {
  display: none;
}

.coupon-statsu-message {
  color: #1bba73;
  font-weight: 500;
  text-align: left;
}

.text-span-7 {
  margin-right: 5px;
  font-family: 'Fa solid 900', sans-serif;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}


.w-form-done[_ngcontent-kan-c20] {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.billing-details-cart {
  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  box-shadow: 1px 0 5px -1px rgba(219, 214, 214, 0.76);
  text-align: left;
}

.text-block-22 {
  margin-bottom: 5px;
  font-weight: 700;
}

.item-data-txt {
  font-weight: 500;
}

.billing-details-single-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



.item-data-txt.applied {
  color: #378c1c;
}

.payment-div {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #60b246;
  color: #fff;
}

.topay {
  font-size: 16px;
  font-weight: 700;
}

.to-pay-amount {
  font-size: 16px;
  font-weight: 700;
}


.text-block-41 {
  font-family: 'Fa solid 900', sans-serif;
  color: #60b246;
  font-size: 20px;
  text-decoration: none;
}


.text-block-36 {
  position: absolute;
  left: auto;
  top: -28%;
  right: -4%;
  bottom: auto;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  line-height: 14px;
}

a.main-cart-btn.w-inline-block {
  width: 60px;
}














































































































@media screen and (min-width: 1440px){
.cart-left {
    background-color: rgba(232, 235, 237, 0.84);
}
}

@media screen and (min-width: 1280px){
.card-booking-details {
    padding-top: 20px;
    padding-bottom: 20px;
}
}

@media screen and (min-width: 1440px){
.address-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
}


@media screen and (min-width: 1440px){
.address-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
}

@media screen and (min-width: 1280px){
.heading-5 {
    font-size: 18px;
}
}

@media screen and (min-width: 1440px){
.cart-right {
    background-color: rgba(232, 235, 237, 0.84);
}
}

@media screen and (min-width: 1280px){
.cart-right {
    padding-right: 10px;
    padding-left: 10px;
}
}

@media screen and (max-width: 479px){
.text-block-41 {
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
}
}
@media screen and (max-width:320px){
.main-cart-btn {
    bottom: 4%;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    text-decoration: none;
}
}

@media screen and (max-width: 991px){
.text-block-41 {
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    text-decoration: none;
}
}

@media screen and (max-width: 479px){
.text-block-36 {
    line-height: 14px;
    text-align: center;
}
}
@media screen and (max-width:768px){
  .cart-right.hide {
     display: none;
  }
  .cart-left{
    width: 768px;
  }
  }

  @media screen and (max-width:320px){
  .badge{
    position: relative;
    right: 67px;
  }
   .button2{
    width:290px;
    margin-left: -46px !important;
  }
  
    }

