<!-- header -->
<div class="am row">
    <div class="col-md-12">
        <div class="ndivcloswe">
            <div class="top-notif-div">
              <div class="text-block-32 text-danger">OPENING HOURS : 9:30 AM - 8:30 PM</div>
            </div>
            <div class="close-copym">
              <img src="../assets/baseline_close_black_24dp_1baseline_close_black_24dp.png"class="close" alt="">
            </div>
          </div>

    </div>
</div>

<div id="backimg"class="head-sectionmnu">
    <div class="logo"><img src="../assets/visa-seeklogo.com.svg" loading="lazy" alt=""></div>
    <div class="new-menu-button-div">
      <a routeLink="table-booking" class="new-menu-button w-inline-block">
        <div class="div-block-49">
          <div class="text-block-39"><img src="../../assets/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.svg" alt=""></div>
        </div>
        <div class="text-block-37">MENU</div>
      </a>
      
      <a href="offer-promotions" class="new-menu-button w-inline-block">
        <div class="div-block-49">
          <div class="text-block-39"><img src="../../assets/food-tray.svg" alt=""></div>
        </div>
        <div class="text-block-37">OFFERS</div>
      </a>
      <a href="delivery-charges" class="new-menu-button w-inline-block">
        <div class="div-block-49">
          <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
        </div>
        <div class="text-block-37">Delivery Charges</div>
      </a>
    </div>
  </div>






<!-- content -->
<div class="row">
    <div class="col-md-12">

        <div class="setab w-tab-menu">

            <span class="badge bg-warning text-dark">COMPLETE PAYMENT</span>
          
        </div>
    </div>
</div>


<div class="main-content cart-page">
    <div class="cart-left">
      <div class="account-div-v2">
        <div class="card-booking-details">
          <div class="text-block-29"><span class="pin-2"></span> 21-01-2021</div>
          <div class="text-block-29"><span class="pin-2"></span> 10:00 AM</div>
          <div class="text-block-29 no-down-margin"><span class="pin-2"></span> 4 People</div>
        </div>
        <div class="address-head">
          <h3 class="heading-4 delivery">Payment Method</h3>
        </div>
        <div class="container pay vert">
          <div class="card paycard card2 nm">
            <h5 class="heading-5">Credit or Debit Crad</h5>
            <div class="current-method-container">
              <div class="warning-modal">
                <div class="mask-modal"></div>
                <div class="warmodal-container">
                  <h5>Remove payment method</h5>
                  <p>Are you sure you want to remove the payment method?</p>
                  <div class="warning-msg-button-div">
                    <a href="#" class="button2 remove cntrr w-button">CANCEL</a>
                    <a href="#" class="button2 remove btn2 w-button">REMOVE CARD</a>
                  </div>
                  <a href="#" class="warning-modal-close w-inline-block"></a>
                </div>
              </div>
            </div>
            <a href="#" class="button2 payit w-button text-white">PAY WITH STRIPE</a>
          </div>
        </div>
        <div class="war">
          <div class="coupon-statsu-message invalid cnt"><span class="text-span-7"></span>Lorem ipsum dolor site amet, lorem amet sit lorem.</div>
        </div>
        <a data-w-id="d9cc1f51-f6ed-ce48-cb99-b7e73feb0ace" href="#" class="main-cart-btn w-inline-block">
          <div class="text-block-41">
            <img src="../../assets/cart.png" alt="">
          </div>
          <div class="text-block-36">2</div>
        </a>
      </div>
    </div>
    <div class="cart-right hide">
      <div class="cart-food-list">
        <div class="food-listt">
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919f6a" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Chicken bitriyani x2</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919f79" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$20</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name">Burger</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919f88" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$2</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919f97" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919fa6" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919fb5" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919fc4" href="#" class="customize-link">Customize <span class="customize-icon"></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="bill-details-wrapper">
          <div class="cooking-instruction-div">
            <a data-w-id="04c960b9-0c26-7944-b0d5-91d2a9919fd1" href="#" class="link-7 text-success">Add special cooking instructions.</a>
          </div>
          <div class="cooking-instruction-div">
            <div class="form-block-2 no-margin w-form">
              <form id="email-form-5" name="email-form-5" data-name="Email Form 5"><input type="text" class="text-field-2 dark w-input" maxlength="256" name="txtCouponCode-4" data-name="Txt Coupon Code 4" placeholder="Enter valid coupon code" id="txtCouponCode-4">
                <div class="coupon-statsu-message success"><span class="text-span-7"></span>Coupon code applied successfully</div>
                <div class="coupon-statsu-message invalid"><span class="text-span-7"></span>Coupon code invalid/expired.</div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="billing-details-cart">
            <div class="text-block-22">Bill Details</div>
            <div class="billing-details-single-div">
              <div class="item-data-txt">Item Total</div>
              <div class="item-data-txt">$30</div>
            </div>
            <div class="billing-details-single-div">
              <div class="item-data-txt">Promotions on category</div>
              <div class="item-data-txt applied">$6</div>
            </div>
            <div class="billing-details-single-div">
              <div class="item-data-txt">Delivery Charge</div>
              <div class="item-data-txt">$5</div>
            </div>
            <div class="billing-details-single-div">
              <div class="item-data-txt">Taxes &amp; Charges</div>
              <div class="item-data-txt">$2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="payment-div">
        <div class="topay">TO PAY</div>
        <div class="to-pay-amount">$45</div>
      </div>
    </div>
  </div>


  
