<div class="menubox bg-img">
  <div class="main-content">
    <div class="tbooking-new1 ntable-booking-2">
      <div class="head-sectionmnu tbooking-head tpo">
        <div class="row">
          <div class="col-md-12">
            <div class="logo"><img src="../../assets/visa-seeklogo.com.svg" loading="lazy" alt="">
            </div>
          </div>
        </div>
       
        <div class="single-food-name tbn23 _35">
          <p class=" text-center">TABLE BOOKING</p>
        </div>  
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card">
            <form [formGroup]="tBookingForm" (ngSubmit)="tBooking(tBookingForm.value)" class="form-3">
              <div class="formGroup" >
              <label for="FormControlPerson" ></label>
              <select id="FormControlPerson" name="FormControlPerson" class="form-control form-select mt-4" aria-label="Default select example" formControlName="Person" required [(ngModel)]="person"  >
                <option value="1">1 Person</option>
                <option value="2">2 People</option>
                <option value="3">3 People</option>
                <option value="4">4 People</option>
                <option value="5">5 People</option>
                <option value="6">6 People</option>
                <option value="7">7 People</option>
                <option value="8">8 People</option>
                <option value="9">9 People</option>
                <option value="10">10 People</option>
                <option value="11">11 People</option>
                <option value="12">12 People</option>
                <option value="13">14 People</option>
                <option value="15">15 People</option>
                <option value="16">16 People</option>
                <option value="17">17 People</option>
                <option value="18">18 People</option>
                <option value="19">19 People</option>
                <option value="20">20 People</option>
              </select>
        
              <label for="FormControlDate" ></label>
              <input type="date" name="Date" class="form-control form-select mt-3" aria-label="Default select example" formControlName="Date" required [(ngModel)]="date">
              
              <label for="FormControlTime" ></label>
              <select id="Time" name="Time" class="form-control form-select mt-3" aria-label="Default select example" formControlName="Time" required [(ngModel)]="time">
                <option value="9:00 AM">9:00 AM</option>
                <option value="9:30 AM">9:30 AM</option>
                <option value="10:00 AM ">10:00 AM</option>
                <option value="10:30 AM ">10:30 AM</option>
                <option value="11:00 AM">11:00 AM</option>
                <option value="11:30 AM ">11:30 AM</option>
                <option value="12:00 PM ">12:00 PM</option>
                <option value="12:30 PM ">12:30 PM</option>
                <option value="1:00 PM ">1:00 PM</option>
                <option value="1:30 PM ">1:30 PM</option>
                <option value="2:00 PM ">2:00 PM</option>
                <option value="2:30 PM ">2:30 PM</option>
                <option value="3:00 P ">3:00 PM</option>
                <option value="3:30 PM ">3:30 PM</option>
                <option value="4:00 PM ">4:00 PM</option>
                <option value="4:30 PM ">4:30 PM</option>
                <option value="4:30 PM ">4:30 PM</option>
                <option value="5:30 PM ">5:30 PM</option>
                <option value="6:00 PM ">6:00 PM</option>
                <option value="6:30 PM ">6:30 PM</option>
                <option value="7:00 PM ">7:00 PM</option>
                <option value="7:30 PM ">7:30 PM</option>
                <option value="8:00 PM ">8:00 PM</option>
                <option value="8:30 PM ">8:30 PM</option>
                <option value="9:00 PM ">9:00 PM</option>
                <option value="9:30 PM ">9:30 PM</option>
                <option value="10:00 PM ">10:00 PM</option>
                <option value="10:30 PM ">10:30 PM</option>
                <option value="11:00 PM ">11:00 PM</option>
                <option value="11:30 PM ">11:30 PM</option>
              </select>
        
              <button type="submit" class="book btn mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop" [disabled]="tBookingForm.invalid">
                BOOK NOW
              </button>
        
            </div>
            </form> 
          </div>
        </div>
    </div>
   
 
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
  <div class="modal-content">

    <div class="modal-body">
      

      <div class="tb-food-menu-mainlleft">
        <div class="account-div-v2-2">
          <div class="text-block-24">Booking Details</div>
          <div class="edit-user-btn vertic25">
            <div class="form-block-5 w-form">
              <form [formGroup]="tBookingForm" (ngSubmit)="tBooking(tBookingForm.value)" id="email-form-4" name="email-form-4" data-name="Email Form 4" class="form-3 tb-new small-field-section">
                <div class="formGroup div-block-62">
                  <label for="FormControlPerson" ></label>
                  <select id="FormControlPerson" name="FormControlPerson" class="form-control form-select mt-4" aria-label="Default select example" formControlName="Person" required [(ngModel)]="person"  >
                    <option value="1">1 Person</option>
                    <option value="2">2 People</option>
                    <option value="3">3 People</option>
                    <option value="4">4 People</option>
                    <option value="5">5 People</option>
                    <option value="6">6 People</option>
                    <option value="7">7 People</option>
                    <option value="8">8 People</option>
                    <option value="9">9 People</option>
                    <option value="10">10 People</option>
                    <option value="11">11 People</option>
                    <option value="12">12 People</option>
                    <option value="13">14 People</option>
                    <option value="15">15 People</option>
                    <option value="16">16 People</option>
                    <option value="17">17 People</option>
                    <option value="18">18 People</option>
                    <option value="19">19 People</option>
                    <option value="20">20 People</option>
                  </select>
            
                  <label for="FormControlDate" ></label>
                  <input type="date" name="Date" class="form-control form-select mt-3" aria-label="Default select example" formControlName="Date" required [(ngModel)]="date">
                  
                  <label for="FormControlTime" ></label>
                  <select id="Time" name="Time" class="form-control form-select mt-3" aria-label="Default select example" formControlName="Time" required [(ngModel)]="time">
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="9:30 AM">9:30 AM</option>
                    <option value="10:00 AM ">10:00 AM</option>
                    <option value="10:30 AM ">10:30 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="11:30 AM ">11:30 AM</option>
                    <option value="12:00 PM ">12:00 PM</option>
                    <option value="12:30 PM ">12:30 PM</option>
                    <option value="1:00 PM ">1:00 PM</option>
                    <option value="1:30 PM ">1:30 PM</option>
                    <option value="2:00 PM ">2:00 PM</option>
                    <option value="2:30 PM ">2:30 PM</option>
                    <option value="3:00 P ">3:00 PM</option>
                    <option value="3:30 PM ">3:30 PM</option>
                    <option value="4:00 PM ">4:00 PM</option>
                    <option value="4:30 PM ">4:30 PM</option>
                    <option value="4:30 PM ">4:30 PM</option>
                    <option value="5:30 PM ">5:30 PM</option>
                    <option value="6:00 PM ">6:00 PM</option>
                    <option value="6:30 PM ">6:30 PM</option>
                    <option value="7:00 PM ">7:00 PM</option>
                    <option value="7:30 PM ">7:30 PM</option>
                    <option value="8:00 PM ">8:00 PM</option>
                    <option value="8:30 PM ">8:30 PM</option>
                    <option value="9:00 PM ">9:00 PM</option>
                    <option value="9:30 PM ">9:30 PM</option>
                    <option value="10:00 PM ">10:00 PM</option>
                    <option value="10:30 PM ">10:30 PM</option>
                    <option value="11:00 PM ">11:00 PM</option>
                    <option value="11:30 PM ">11:30 PM</option>
                  </select>
                </div>
                <div>
                  <div class="text-block-24">Special Request</div>
                  <textarea placeholder="Special Requests" maxlength="5000" id="field-11" name="field-11" class="w-input"></textarea>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="text-block-24">Account</div>
          <div id="asa"class="asap-button-div">
            <a data-w-id="cad21b43-368a-5807-4277-2278d9e38f20" class="button-cart login w-inline-block">
              <div class="text-block-8">Have an account?</div>
              <div class="text-block-9">SIGN IN</div>
            </a>
            <a data-w-id="cad21b43-368a-5807-4277-2278d9e38f2a" class="button-cart signup w-inline-block">
              <div class="text-block-8">New customer?</div>
              <div class="text-block-9">SIGN UP</div>
            </a>
          </div>
          <div class="card-signed-user-details">
            <div><span class="user-icon"></span>Signed in as <strong>{{"NAME"}}</strong></div>
          </div>
          <div class="text-block-23">Sign up and Join our membership program for discounts, customised promotions, loyalty programs and easy check-out.</div>
          <div class="description-img"><img src="https://uploads-ssl.webflow.com/5ffc0263a31c9e14f6073e1f/5ffc0263a31c9e1d8c073e38_wf3.jpg" loading="lazy" alt="" class="image-10"></div>
          <div class="text-block-23">Your phone number and other informations are safe and hidden in our software. It will be used for automated promotions, 1 click check-out and to serve you better. We are partnered with LOCAL MATE to manage your account.</div>
        </div>
      </div>



      <div id="mainleft" class="tb-food-menu-mainlleft">
        <div class="your-details-form w-form">
          <form [formGroup]="tableBookingForm" (ngSubmit)="tableBooking()" id="email-form-4" name="email-form-4" data-name="Email Form 4" class="form-3-yur-details _2s fgxhdcrfdhuy">
            <div class="formGroup" >


            <div class="text-block-24 fl">Check out as a guest</div>
            <div class="ur-details-input-div">
              <label for="FormControlName" ></label>
              <input type="text" formControlName="Name"
              class="form-control  w-input" maxlength="256" name="txtTbName" data-name="Txt Tb Name" placeholder="Name" id="txtTbName" required="">
            </div>
            <div class="ur-details-input-div">
              <label for="FormControlEmail"></label>
              <input type="email" class=" form-control  w-input" formControlName="Email" maxlength="256" name="txtTbMail" data-name="Txt Tb Mail" placeholder="you@email.com" id="txtTbMail" required="">
            </div>
            <div class="ur-details-input-div">
              <label for="FormControlMobile"></label>
              <input type="tel" class=" w-input" formControlName="Mobile" maxlength="15" name="txtTbContactNumber" data-name="Txt Tb Contact Number" placeholder="Mobile Number" id="txtTbContactNumber" required="">
            </div>

            <a  class="your-details-submit-btn w-button"(click)="tableBooked()" >BOOK NOW</a>
            <div class="ur-details-input-div otp"  >
              <input type="number" class="ur-details-input-field otp2 w-input" maxlength="256" name="txtTbOTP-2" data-name="Txt Tb OTP 2" placeholder="Enter OTP" id="txtTbOTP-2" required="">
              <a class="otp-btn w-button" (click)="requestOTP_TB(tableBookingForm.value.Name,tableBookingForm.value.Email,tableBookingForm.value.Mobile)" >SUBMIT</a>
              <a class="otp-btn w-button" routerLink="">BACK</a>
            </div>
            <div class="your-submit-notfication">
              <div class="notifotp-tb">We have sent an OTP to your Number&amp; E-mail</div>
              <div class="notifotpwrong-tb">Incorrect OTP. <a (click)="requestOTP_TB(tableBookingForm.value.Name,tableBookingForm.value.Email,tableBookingForm.value.Mobile)">Resend OTP</a>
              </div>
            </div>
            <div class="successfully-booked-tb" *ngIf="T_booked">
              <div class="text-block-27"><span class="faa">*</span>Successfully booked.</div>
              <div class="order-details-tb">
                <div class="success-booked"><span class="faa">*</span>DATE : {{date}}</div><br>
                <div class="success-booked"><span class="faa">*</span>TIME : {{time}}</div><br>
                <div class="success-booked"><span class="faa">*</span>No Of Persons :{{person}}</div><br>
              </div>
            </div>
            <div class="your-submit-notfication mt-3">
              <a routerLink="" class="text-block-28 w-button">Pre-order food and save waiting time at restaurant</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>